
.project
.classpath
.settings/org.eclipse.jdt.core.prefs
*.component
.settings/org.eclipse.wst.common.project.facet.core.xml
.settings/org.eclipse.wst.jsdt.ui.superType.name
.tern-project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
*.class
